<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <header class="header container">
        <a class="header__logo" href="#">
          <svg class="logo">
            <use xlink:href="../resources/icons/sprite.svg#logo"></use>
          </svg>
        </a>

        <nav class="header__navigation">
          <ul>
            <li><a href="#" class="navigation__link">ГЛАВНАЯ</a></li>
            <li><a href="#" class="navigation__link">УСЛУГУ</a></li>
            <li><a href="#" class="navigation__link">БЛОГ</a></li>
            <li><a href="#" class="navigation__link">ФРАНШИЗА</a></li>
            <li><a href="#" class="navigation__link">ИНВЕСТИЦИИ</a></li>
            <li><a href="#" class="navigation__link">ВАКАНСИИ</a></li>
            <li><a href="#" class="navigation__link">Контакты</a></li>
          </ul>
        </nav>

        <div class="header__info">
          <p class="info__tel">8 800 2345 973</p>
          <p class="info__text">заказать обратный звонок</p>
        </div>

        <div class="header__city">
          <div class="city__logo">
            <svg class="logo__mark">
              <use xlink:href="../resources/icons/sprite.svg#mark"></use>
            </svg>
          </div>
          <div class="city__wrapper">
            <p class="city__select">
              ВЫБЕРИ СВОЙ БАРБЕРШОП:
              <svg class="logo__triangle">
                <use xlink:href="../resources/icons/sprite.svg#triangle"></use>
              </svg>
            </p>

            <p class="city__name">МОСКВА</p>
          </div>
        </div>

        <div class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </header>
      <main>
        <section class="preview container">
          <div class="preview-body">
            <div class="body__top">
              <h1>стань владельцем барбершопа</h1>
              <p class="body__text"><span class="brown-text">крупнейшей в мире сети oldboy barbershop</span></p>
            </div>
            <p class="body__under">
              зарабатывай
              250 000 рублей
              в месяц
            </p>
          </div>
          <div class="preview__form">
            <form action="#">
              <h3 class="form__title"><span class="brown-text">заполни форму</span></h3>
              <p class="form__text">и мы вышлем фин. модель на твою почту</p>
              <div class="form__body">
                <input type="name" placeholder="ИМЯ">
                <input type="tel" placeholder="ТЕЛЕФОН">
                <input type="email" placeholder="E-MAIL">
                <label class="checkbox-wrapper" for="checkbox">
                  <input id="checkbox" type="checkbox">
                  <div class="wrapper__text">
                    <p class="checkbox__text">Я соглашаюсь с</p>
                    <p class="checkbox__text"><span class="brown-text">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</span></p>
                  </div>
                </label>
              </div>
            </form>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
