<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <header class="header container">
        <a class="header__logo" href="#">
          <svg class="logo">
            <use xlink:href="../resources/icons/sprite.svg#logo"></use>
          </svg>
        </a>

        <nav class="header__navigation">
          <ul>
            <li><a href="#" class="navigation__link">ГЛАВНАЯ</a></li>
            <li><a href="#" class="navigation__link">УСЛУГУ</a></li>
            <li><a href="#" class="navigation__link">БЛОГ</a></li>
            <li><a href="#" class="navigation__link">ФРАНШИЗА</a></li>
            <li><a href="#" class="navigation__link">ИНВЕСТИЦИИ</a></li>
            <li><a href="#" class="navigation__link">ВАКАНСИИ</a></li>
            <li><a href="#" class="navigation__link">Контакты</a></li>
          </ul>
        </nav>

        <div class="header__info">
          <p class="info__tel">8 800 2345 973</p>
          <p class="info__text">заказать обратный звонок</p>
        </div>

        <div class="header__city">
          <div class="city__logo">
            <svg class="logo__mark">
              <use xlink:href="../resources/icons/sprite.svg#mark"></use>
            </svg>
          </div>
          <div class="city__wrapper">
            <p class="city__select">
              ВЫБЕРИ СВОЙ БАРБЕРШОП:
              <svg class="logo__triangle">
                <use xlink:href="../resources/icons/sprite.svg#triangle"></use>
              </svg>
            </p>

            <p class="city__name">МОСКВА</p>
          </div>
        </div>

        <div class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="menu"></div>
      </header>
      <main></main>
    </div>
  </body>
</html>
