@font-face {
  font-family: "OpenSans";
  src:
    url("../resources/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../resources/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("../resources/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../resources/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rex";
  src:
    url("../resources/fonts/RexBold.woff2") format("woff2"),
    url("../resources/fonts/RexBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Rex", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
  line-height: 144%;
}
