.header {
  display: flex;
  align-items: flex-start;

  &.container {
    padding-top: 61px;
  }

  .header__logo {
    margin-right: 20px;

    .logo {
      width: 165px;
      height: 88px;

      @media (max-width: 1200px) {
        width: 145px;
        height: 68px;
      }

      @media (max-width: 576px) {
        width: 85px;
        height: 45px;
      }
    }

    @media (max-width: 768px) {
      margin-right: 0px;
    }
  }

  .header__navigation {
    ul {
      margin-right: 60px;
      display: flex;
      li:not(:last-child) {
        margin-right: 20px;
      }

      .navigation__link {
        color: #fff;
        font-family: Rex;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }

      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
    }

    @media (max-width: 1200px) {
      margin-right: 42px;
    }
    @media (max-width: 992px) {
      max-width: 500px;
      margin-right: 0px;
    }
    @media (max-width: 768px) {
      display: none;
      max-width: 100%;
    }
  }

  .header__info {
    margin-right: 57px;
    position: relative;

    .info__tel,
    .info__text {
      color: #fff;
      text-align: right;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    .info__tel {
      font-family: Rex;
      font-size: 23px;
      width: 134px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }
    }

    .info__text {
      position: absolute;
      width: 158px;
      bottom: -14px;
      right: 0;
      font-family: Open Sans;
      font-size: 10px;
      padding-bottom: 2px;
      border-bottom: 1px solid #d29c4e;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  .header__city {
    position: relative;
    display: flex;

    .city__logo {
      .logo__mark {
        position: absolute;
        left: -30px;
        top: 0;
        width: 23px;
        height: 31px;
      }
    }
    .city__wrapper {
      width: 65px;

      .city__select {
        position: relative;
        cursor: pointer;
        color: #d29c4e;
        font-family: "Rex", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &.active {
          .logo__triangle {
            transform: rotate(180deg);
          }
        }
      }
      .logo__triangle {
        transition: transform 0.3s ease;
        position: absolute;
        right: 0;
        top: 20px;
        width: 8px;
        height: 8px;
        @media (max-width: 992px) {
          max-width: 75px;
        }

        // @media (max-width: 992px) {
        //   top: 5px;
        //   right: -4px;
        // }
      }
      .city__name {
        color: #fff;
        font-family: Rex;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .burger-menu {
    @media (min-width: 769px) {
      display: none;
    }
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #d29c4e;

    span {
      display: block;
      width: 22px;
      height: 3px;
      background-color: white;
      transition: transform 0.5s ease;
      &:first-child,
      &:last-child {
        content: "";

        position: absolute;
        display: block;
        width: 22px;
        height: 3px;
        background-color: white;
      }

      &:first-child {
        top: 9px;
      }
      &:last-child {
        bottom: 9px;
      }
    }

    &.active {
      z-index: 2;

      span:nth-child(2) {
        transform: translate(-30px, 0px) scale(0);
      }

      span:first-child {
        transform: rotate(-45deg) translate(-7px, 6px);
      }

      span:last-child {
        transform: rotate(45deg) translate(-7px, -7px);
      }
    }
  }
  .menu {
    position: absolute;
    top: 0;
    right: 100%;

    width: 100%;
    height: 100%;

    transition: 0.3s ease;
    background-color: #d29c4e;

    &.active {
      right: 0%;
      .burger-menu {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
      }
    }
  }
  @media (max-width: 768px) {
    justify-content: space-between;
  }
}
