@import "./reset.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./preview.scss";

body {
  overflow: hidden;
}

section {
  overflow: hidden;
}

.app {
  background: url("../resources/img/background-image.webp");
  background: url("../resources/img/background-image.png");
}

.brown-text {
  color: #d29c4e;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;

  @media (max-width: 1200px) {
    padding: 0 10px;
  }
}
